 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/vintage-grunge-blue-concrete-texture-studio-wall-background-with-vignette.jpg");
  background-position: 50% 50%;
  min-height: 50vw;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 4px 9px rgba(0,0,0,0.55);
  font-size: 4.5rem;
  margin: 101px calc(((100% - 1140px) / 2) + 126px) 0 calc(((100% - 1140px) / 2) + 181px);
}

.u-section-1 .u-group-elements-1 {
  width: 152px;
  min-height: 222px;
  height: auto;
  margin: 103px auto 0 calc(((100% - 1140px) / 2) + 358px);
}

.u-section-1 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.9375rem;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #0b0fa5, #085ebf);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 30px auto 0 0;
  padding: 8px 33px 8px 32px;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 6px;
}

.u-section-1 .u-group-elements-2 {
  width: 154px;
  min-height: 224px;
  height: auto;
  margin: -222px calc(((100% - 1140px) / 2) + 297px) 60px auto;
}

.u-section-1 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #900273, #d6c925);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 30px auto 0 0;
  padding: 6px 33px 8px 31px;
}

.u-section-1 .u-icon-2 {
  margin-right: 8px;
  vertical-align: 0px;
  font-size: 1.1334em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 26px);
    margin-left: calc(((100% - 940px) / 2) + 81px);
  }

  .u-section-1 .u-group-elements-1 {
    margin-left: calc(((100% - 940px) / 2) + 236px);
  }

  .u-section-1 .u-image-1 {
    height: NaNpx;
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: calc(((100% - 940px) / 2) + 297px);
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 102px;
    margin-left: calc(((100% - 720px) / 2) + 102px);
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: calc(((100% - 720px) / 2) + 297px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 100px;
    margin-left: calc(((100% - 540px) / 2) + 39px);
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: calc(((100% - 540px) / 2) + 297px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 651px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 60px;
    margin-left: calc(((100% - 340px) / 2) + -13px);
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: calc(((100% - 340px) / 2) + 186px);
  }
}